body {
    font-family: 'Modak', Merriweather;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #D6B3B3;
}

.container {
    text-align: center;
    background-color: #F0C9C9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 80%;
    max-width: 500px;
    color: #997272;
}

.weather-input {
    margin-bottom: 20px;
    position: relative;
}

#weather {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 100px);
    margin-right: 10px;
}

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #C9ABAB;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C9ABAB;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li.checked {
    text-decoration: line-through;
    color: #999;
}

.checkbox {
    margin-left: 10px;
    cursor: pointer;
}

.icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sun-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.cloud-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}
